* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0.5rem;
    text-decoration: none;
    position: relative;
}

h1 {
    margin: 0;
    padding: 0;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    font-family: Dancing Script, Arial, Helvetica, sans-serif;
}
/*
MENU RESPONSIVO
*/
.icon{
    display: none;
}
@media(max-width:768px){

    html{
        scroll-padding-top: 12rem;
    }
    .header a.icon {
        display: block;
        position: absolute;

        font-size: 1.75rem;
        top: 1rem;
        right: 1.5rem;
    }
    .header #links {

        text-align: center;
        display: none;
      }

    .header ul{
        flex-direction: column;
    }
    .header-wrapper {
        flex-direction: column;
    }
}
@media (min-width: 769px) {
    #links{
        display: block !important;
    }
}

/*
MENU RESPONSIVO
*/

.header {
    background-color: #E6F2F5;
    padding: 0.5rem 1.5rem;

}

.header-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
    flex-wrap: wrap;

}

nav ul {
    list-style-type: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.blue-link,
.blue-link a {
    color: #449DC6;
    font-weight: bold;
}

.link{
    font-weight: bold;
    color: white;
    padding: 0.25rem;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%
}

/*
    Pros Links ficarem com o hover maneiro
*/

ul a::before, .link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #449DC6;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

ul a:hover::before, .link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/*
   -- HERO --
*/

.hero {
    width: 100%;
    height: 68vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    font-size: 2.40rem;
    color: white;
}

@media(max-width: 768px) {
    .hero-text {
        font-size: 1.35rem;
    }

}

/*
-- MAIN --
*/

.article-title {
    font-size: 1.70rem;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    text-align: center;

}

.article-title span {
    border-bottom: 4px solid #449DC6;
    padding: 0.25rem;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    width: 70%;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
}

.card p,
.card li {
    color: #3D3D3D;
}

.card img {
    width: 100%;
    max-width: 300px;
    min-width: 1px;
    height: auto;
    display: block;
    object-fit: cover;
}

.card figcaption {
    padding: 1rem 2rem;
    line-height: 30px;
    font-size: 1.25rem;
}


@media(max-width:768px) {
    .card {
        flex-direction: column;
        width: 80%;
    }

    .card img {
        max-width: 100%;
    }

    .article-title {
        font-size: 1.20rem;
    }
}

.linha {
    width: 100%;
    background-color: #89CFF0;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 6rem;

}

/*
-- SEGUNDO CARD --
*/
.beijo-card {
    display: flex;
    flex-direction: row-reverse;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #F6F6F6;
    margin-bottom: 9rem;
    line-height: 30px;
}


.beijo-card img {
    display: block;
    width: 100%;
    height: auto;
    min-width: 1px;
    object-fit: cover;
    max-width: 500px;
}

.beijo-card figcaption {
    max-width: 420px;
    width: 100%;
    overflow-wrap: break-word;
    margin-right: auto;
    text-align: left;
    padding: 1rem 3rem;
    font-size: 1.25rem;
}

@media screen and (min-width: 769px) and  (max-width:1024px) {
    .beijo-card {
        flex-direction: column-reverse;
        max-width: 70%;
    }

    .beijo-card img {
        max-width: 100%;
    }
}
@media(max-width: 768px) {
    .beijo-card {
        width: 90%;
        flex-direction: column-reverse;
    }

    .beijo-card img {
        max-width: 100%;
    }
}

footer{
    width: 100%;
    text-align: center;
    background-color: #89CFF0;
    color: white;
    padding: 0.5rem;
}